
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>

        <service android:name="хуй ахаахаххаха" android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/auth"/>
        </service>

        <service android:name=".ContactsSyncAdapterService" android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_contacts" />
            <meta-data android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts" />
        </service>

        <service android:name=".KeepAliveJob"
                 android:exported="false"
                 android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name=".BringAppForegroundService" android:enabled="true"/>
        <service android:name=".NotificationsService" android:enabled="true"/>
        <service android:name=".NotificationRepeat" android:exported="false"/>
        <service android:name=".VideoEncodingService" android:enabled="true"/>
        <service android:name=".ImportingService" android:enabled="true"/>
        <service android:name=".LocationSharingService"
            android:foregroundServiceType="location"
            android:enabled="true"/>
        <service android:name=".voip.VoIPService" android:enabled="true" android:foregroundServiceType="mediaProjection|camera|microphone|mediaPlayback"/>
        <service android:name=".GoogleVoiceClientService"/>
        <service android:name=".MusicPlayerService" android:exported="true" android:enabled="true" android:foregroundServiceType="mediaPlayback"/>
        <service android:name=".MusicBrowserService" android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>
        <service android:name=".voip.TelegramConnectionService" android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>

		<receiver android:name=".MusicPlayerReceiver" >
            <intent-filter>
                <action android:name="org.telegram.android.musicplayer.close" />
                <action android:name="org.telegram.android.musicplayer.pause" />
                <action android:name="org.telegram.android.musicplayer.next" />
                <action android:name="org.telegram.android.musicplayer.play" />
                <action android:name="org.telegram.android.musicplayer.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        <receiver android:name=".voip.VoIPMediaButtonReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:name=".AppStartReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="org.telegram.start" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".RefererReceiver" android:exported="true" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver android:name=".WearReplyReceiver" android:enabled="true"/>

        <receiver android:name=".StopLiveLocationReceiver" android:enabled="true"/>

        <receiver android:name=".PopupReplyReceiver" android:enabled="true"/>

        <receiver android:name=".NotificationCallbackReceiver" android:enabled="true" android:exported="false"/>

        <receiver android:name=".ShareBroadcastReceiver" android:enabled="true"/>

        <receiver android:name=".CustomTabsCopyReceiver" android:enabled="true"/>

        <receiver android:name=".NotificationDismissReceiver" android:exported="false"/>

        <receiver android:name=".voip.VoIPActionsReceiver" android:exported="false"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <provider
            android:authorities="${applicationId}.notification_image_provider"
            android:name=".NotificationImageProvider"
            android:exported="false"
            android:grantUriPermissions="true"/>

        <provider
            android:authorities="${applicationId}.call_sound_provider"
            android:name=".voip.CallNotificationSoundProvider"
            android:exported="true"/>

        <receiver android:name=".ChatsWidgetProvider" android:exported="false">
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/chats_widget_info" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <service android:name=".ChatsWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

        <receiver android:name=".ContactsWidgetProvider" android:exported="false">
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/contacts_widget_info" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <service android:name=".ContactsWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

<!--        <receiver android:name=".FeedWidgetProvider">-->
<!--            <meta-data android:name="android.appwidget.provider"-->
<!--                android:resource="@xml/feed_widget_info" />-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

<!--        <service android:name=".FeedWidgetService"-->
<!--            android:permission="android.permission.BIND_REMOTEVIEWS"-->
<!--            android:exported="false" />-->

        <uses-library android:name="com.sec.android.app.multiwindow" android:required="false" />
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:value="632dp" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:value="598dp" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:value="632dp" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:value="598dp" />

        <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true" />

        <meta-data android:name="com.google.android.gms.car.notification.SmallIcon" android:resource="@drawable/ic_player" />
        <meta-data android:name="com.google.android.gms.car.application" android:resource="@xml/automotive_app_desc" />

        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="face,barcode" />

        <meta-data android:name="android.max_aspect" android:value="2.5" />

        <meta-data android:name="com.google.android.actions" android:resource="@xml/actions" />

    </application>

</manifest>
